

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558420237406700446.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558420237406700446.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558420237406700446.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558420237406700446.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558420237406700446.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558420237406700446.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558420237406700446.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558420237406700446.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558420237406700446.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-558420237406700446.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-558420237406700446.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558420237406700446.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-558420237406700446.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-558420237406700446.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-558420237406700446.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558420237406700446.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-558420237406700446.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-558420237406700446.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-558420237406700446.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-558420237406700446.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558420237406700446.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-558420237406700446.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558420237406700446.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558420237406700446.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-558420237406700446.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558420237406700446.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-558420237406700446.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-558420237406700446.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-558420237406700446.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-558420237406700446.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-558420237406700446.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-558420237406700446.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558420237406700446.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-558420237406700446.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558420237406700446.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-558420237406700446.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-558420237406700446.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-558420237406700446.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-558420237406700446.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-558420237406700446.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558420237406700446.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558420237406700446.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558420237406700446.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558420237406700446.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558420237406700446.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558420237406700446.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558420237406700446.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558420237406700446.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558420237406700446.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-558420237406700446.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-558420237406700446.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558420237406700446.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-558420237406700446.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-558420237406700446.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-558420237406700446.gps.gpsil [style*="--gg-tablet:"]{grid-gap:var(--gg-tablet)}.gps-558420237406700446.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-558420237406700446.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-558420237406700446.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-558420237406700446.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558420237406700446.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558420237406700446.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-558420237406700446.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-558420237406700446.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-558420237406700446.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-558420237406700446.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-558420237406700446.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-558420237406700446.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-558420237406700446.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-558420237406700446.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558420237406700446.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558420237406700446.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-558420237406700446.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-558420237406700446.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-558420237406700446 .-gp-rotate-90,.gps-558420237406700446 .gp-rotate-180,.gps-558420237406700446 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-558420237406700446 .gp-relative{position:relative}.gps-558420237406700446 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558420237406700446 .gp-mb-0{margin-bottom:0}.gps-558420237406700446 .gp-flex{display:flex}.gps-558420237406700446 .gp-inline-flex{display:inline-flex}.gps-558420237406700446 .gp-grid{display:grid}.gps-558420237406700446 .\!gp-hidden{display:none!important}.gps-558420237406700446 .gp-hidden{display:none}.gps-558420237406700446 .gp-min-h-0{min-height:0}.gps-558420237406700446 .gp-w-full{width:100%}.gps-558420237406700446 .gp-max-w-full{max-width:100%}.gps-558420237406700446 .-gp-rotate-90{--tw-rotate:-90deg}.gps-558420237406700446 .-gp-rotate-90,.gps-558420237406700446 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558420237406700446 .gp-rotate-180{--tw-rotate:180deg}.gps-558420237406700446 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558420237406700446 .gp-cursor-pointer{cursor:pointer}.gps-558420237406700446 .gp-flex-col{flex-direction:column}.gps-558420237406700446 .gp-items-center{align-items:center}.gps-558420237406700446 .gp-justify-center{justify-content:center}.gps-558420237406700446 .gp-gap-y-0{row-gap:0}.gps-558420237406700446 .gp-overflow-hidden{overflow:hidden}.gps-558420237406700446 .gp-overflow-clip{overflow:clip}.gps-558420237406700446 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558420237406700446 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558420237406700446 .gp-duration-200{transition-duration:.2s}.gps-558420237406700446 .gp-duration-500{transition-duration:.5s}.gps-558420237406700446 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-558420237406700446 .tablet\:\!gp-hidden{display:none!important}.gps-558420237406700446 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-558420237406700446 .mobile\:\!gp-hidden{display:none!important}.gps-558420237406700446 .mobile\:gp-hidden{display:none}}.gps-558420237406700446 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-558420237406700446 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-558420237406700446 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558420237406700446 .\[\&_p\]\:gp-inline p{display:inline}.gps-558420237406700446 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558420237406700446 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gMwGroOJpH" data-id="gMwGroOJpH"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:80px;--pb:80px;--pt-mobile:56px;--pl-mobile:0px;--pb-mobile:56px;--pr-mobile:0px;--pt-tablet:56px;--pl-tablet:32px;--pb-tablet:56px;--pr-tablet:32px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMwGroOJpH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gr8mMHAeed gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gmUCKsg6of" data-id="gmUCKsg6of"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:15px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgba(242, 255, 242, 0);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmUCKsg6of gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVUs9JxwUb gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdQ3gGTOms">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdQ3gGTOms "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:0px;--mb-mobile:0px;--pb-mobile:0px;--mb-tablet:0px;--pb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:700;--ls:0.5px;--size:32px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#161723;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-section-558420237406700446.ggdQ3gGTOms_text_html" | t | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:24px;--mb:0px" class="gtf5khHOUv ">
      
    <gp-accordion
      data-id="gtf5khHOUv"
     uid="gtf5khHOUv"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--gg-tablet:14px;--gg-mobile:14px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":"1","expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322350260573\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322263621981\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z\" /></svg>","iconCollapseSize":15,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gtf5khHOUv","childListNumber":["0"],"chidlrenUid":["g-JGsI5FhI","gt3Oa9T6EB","gAi4pEwAyc","gJYccDK0Ix"]},"styles":{"bgColor":{"normal":"#F2FFF2"},"color":{"active":"#269926","hover":"#269926","normal":"#269926"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"},"mobile":{"horizontal":"21px","vertical":"14px"}}},"textColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"24px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"24px","left":"24px","right":"24px","top":"24px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"14px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"14px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gtf5khHOUv"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#FCFFFC;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="0"
      class="gtf5khHOUv gp-accordion-item gp-overflow-hidden gp-child-item-gtf5khHOUv"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g-JGsI5FhI"
        id="g-JGsI5FhI"
        data-index="0"
        class="gtf5khHOUv gp-accordion-item-gtf5khHOUv-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F2FFF2;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--c:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gtf5khHOUv-0:hover 
      {
        .gp-collapsible-icon { 
          color: #269926 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#269926;width:15px;height:15px"
            data-index="0"
            class="gtf5khHOUv gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322263621981">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0.5px;--size:18px;--size-tablet:14px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--tt:none;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-section-558420237406700446.ggtf5khHOUv_childItem_0_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g-JGsI5FhI"
        data-index="0"
        data-show="true"
        class="gtf5khHOUv gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g-JGsI5FhI"
        data-index="0"
        class="gtf5khHOUv gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:0px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:0px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:0px;--pb-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gqsXREMiYu gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gg21fAlXf4">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gg21fAlXf4 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-section-558420237406700446.ggg21fAlXf4_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#FCFFFC;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="1"
      class="gtf5khHOUv gp-accordion-item gp-overflow-hidden gp-child-item-gtf5khHOUv"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gt3Oa9T6EB"
        id="gt3Oa9T6EB"
        data-index="1"
        class="gtf5khHOUv gp-accordion-item-gtf5khHOUv-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F2FFF2;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gtf5khHOUv-1:hover 
      {
        .gp-collapsible-icon { 
          color: #269926 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#269926;--c:#269926;width:15px;height:15px"
            data-index="1"
            class="gtf5khHOUv gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0.5px;--size:18px;--size-tablet:14px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--tt:none;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-section-558420237406700446.ggtf5khHOUv_childItem_1_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gt3Oa9T6EB"
        data-index="1"
        data-show="false"
        class="gtf5khHOUv gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gt3Oa9T6EB"
        data-index="1"
        class="gtf5khHOUv gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:14px;--pr-tablet:14px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g7j1wNJsZM gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghRdH1GYN5">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ghRdH1GYN5 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-section-558420237406700446.gghRdH1GYN5_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#FCFFFC;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="2"
      class="gtf5khHOUv gp-accordion-item gp-overflow-hidden gp-child-item-gtf5khHOUv"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gAi4pEwAyc"
        id="gAi4pEwAyc"
        data-index="2"
        class="gtf5khHOUv gp-accordion-item-gtf5khHOUv-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F2FFF2;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gtf5khHOUv-2:hover 
      {
        .gp-collapsible-icon { 
          color: #269926 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#269926;--c:#269926;width:15px;height:15px"
            data-index="2"
            class="gtf5khHOUv gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0.5px;--size:18px;--size-tablet:14px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--tt:none;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-section-558420237406700446.ggtf5khHOUv_childItem_2_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gAi4pEwAyc"
        data-index="2"
        data-show="false"
        class="gtf5khHOUv gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gAi4pEwAyc"
        data-index="2"
        class="gtf5khHOUv gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:14px;--pr-tablet:14px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gTwGqdUH6v gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2gmwO4TLH">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g2gmwO4TLH "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-section-558420237406700446.gg2gmwO4TLH_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#FCFFFC;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="3"
      class="gtf5khHOUv gp-accordion-item gp-overflow-hidden gp-child-item-gtf5khHOUv"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gJYccDK0Ix"
        id="gJYccDK0Ix"
        data-index="3"
        class="gtf5khHOUv gp-accordion-item-gtf5khHOUv-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F2FFF2;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gtf5khHOUv-3:hover 
      {
        .gp-collapsible-icon { 
          color: #269926 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#269926;--c:#269926;width:15px;height:15px"
            data-index="3"
            class="gtf5khHOUv gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0.5px;--size:18px;--size-tablet:14px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--tt:none;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-section-558420237406700446.ggtf5khHOUv_childItem_3_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gJYccDK0Ix"
        data-index="3"
        data-show="false"
        class="gtf5khHOUv gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gJYccDK0Ix"
        data-index="3"
        class="gtf5khHOUv gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:14px;--pr-tablet:14px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gZvoqOthsO gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gxUm1p77Wc">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gxUm1p77Wc "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-section-558420237406700446.ggxUm1p77Wc_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYAZ9hjg.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-558420237406700446 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c39dbb-40/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=558420237305775006&sectionId=558420237406700446)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"de":{"ggdQ3gGTOms_text_html":"Häufig gestellte Fragen","ggtf5khHOUv_childItem_0_html":"<p>Ist das Windrad witterungsbeständig?</p>","ggtf5khHOUv_childItem_1_html":"<p>Wie einfach ist der Zusammenbau?</p>","ggtf5khHOUv_childItem_2_html":"<p>Dreht sie sich auch bei wenig Wind?</p>","ggtf5khHOUv_childItem_3_html":"<p>Wie ist das Rückgaberecht für GartenStadl-Produkte?</p>","ggg21fAlXf4_text_html":"<p>Ja, sie ist so konstruiert, dass sie verschiedenen Witterungsbedingungen standhält, damit sie im Freien lange schön bleibt.</p>","gghRdH1GYN5_text_html":"<p>Das Windrad lässt sich mit minimalem Aufwand aufstellen und wird mit einer klaren Anleitung für eine schnelle Installation geliefert.</p>","gg2gmwO4TLH_text_html":"<p>Ja, das Windrad ist so konstruiert, dass es sich auch bei einer leichten Brise gleichmäßig dreht und einen faszinierenden Effekt erzeugt.</p>","ggxUm1p77Wc_text_html":"<p>Wir bieten eine 30-tägige Geld-zurück-Garantie auf alle GartenStadl-Produkte. Wenn Sie mit Ihrem Kauf nicht zufrieden sind, können Sie die Schuhe innerhalb von 30 Tagen zurückgeben und erhalten den vollen Kaufpreis zurück, ohne Fragen zu stellen.</p>"}}
  }
{% endschema %}
