
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612089278184293229.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-612089278184293229.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-612089278184293229.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612089278184293229.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612089278184293229.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612089278184293229.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612089278184293229.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612089278184293229.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612089278184293229.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612089278184293229.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612089278184293229.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612089278184293229.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612089278184293229.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612089278184293229.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612089278184293229.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-612089278184293229.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612089278184293229.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612089278184293229.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612089278184293229.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612089278184293229.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612089278184293229.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612089278184293229.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612089278184293229.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612089278184293229.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612089278184293229.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612089278184293229.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612089278184293229.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612089278184293229.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-612089278184293229.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612089278184293229.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-612089278184293229.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612089278184293229.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612089278184293229.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612089278184293229.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612089278184293229.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-612089278184293229.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-612089278184293229.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-612089278184293229.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-612089278184293229.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-612089278184293229.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612089278184293229.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612089278184293229.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612089278184293229.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612089278184293229.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612089278184293229.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612089278184293229.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612089278184293229.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612089278184293229.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-612089278184293229.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612089278184293229.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-612089278184293229.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-612089278184293229.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612089278184293229.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-612089278184293229.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-612089278184293229.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-612089278184293229.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-612089278184293229.gps.gpsil [style*="--bblr-tablet:"]{border-bottom-left-radius:var(--bblr-tablet)}.gps-612089278184293229.gps.gpsil [style*="--bbrr-tablet:"]{border-bottom-right-radius:var(--bbrr-tablet)}.gps-612089278184293229.gps.gpsil [style*="--btlr-tablet:"]{border-top-left-radius:var(--btlr-tablet)}.gps-612089278184293229.gps.gpsil [style*="--btrr-tablet:"]{border-top-right-radius:var(--btrr-tablet)}.gps-612089278184293229.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-612089278184293229.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612089278184293229.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-612089278184293229.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-612089278184293229.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612089278184293229.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612089278184293229.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612089278184293229.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-612089278184293229.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-612089278184293229.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-612089278184293229.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-612089278184293229.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-612089278184293229.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-612089278184293229.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-612089278184293229.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612089278184293229.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-612089278184293229.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-612089278184293229.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612089278184293229.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-612089278184293229.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-612089278184293229.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-612089278184293229.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-612089278184293229.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-612089278184293229.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612089278184293229.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612089278184293229.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-612089278184293229.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-612089278184293229.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-612089278184293229.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-612089278184293229 .gp-relative{position:relative}.gps-612089278184293229 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612089278184293229 .gp-mb-0{margin-bottom:0}.gps-612089278184293229 .gp-inline-block{display:inline-block}.gps-612089278184293229 .gp-flex{display:flex}.gps-612089278184293229 .gp-grid{display:grid}.gps-612089278184293229 .gp-contents{display:contents}.gps-612089278184293229 .\!gp-hidden{display:none!important}.gps-612089278184293229 .gp-hidden{display:none}.gps-612089278184293229 .gp-h-auto{height:auto}.gps-612089278184293229 .gp-h-full{height:100%}.gps-612089278184293229 .gp-w-full{width:100%}.gps-612089278184293229 .gp-max-w-full{max-width:100%}.gps-612089278184293229 .gp-flex-none{flex:none}.gps-612089278184293229 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612089278184293229 .gp-flex-col{flex-direction:column}.gps-612089278184293229 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612089278184293229 .gp-duration-200{transition-duration:.2s}.gps-612089278184293229 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-612089278184293229 .tablet\:\!gp-hidden{display:none!important}.gps-612089278184293229 .tablet\:gp-hidden{display:none}.gps-612089278184293229 .tablet\:gp-h-auto{height:auto}.gps-612089278184293229 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-612089278184293229 .mobile\:\!gp-hidden{display:none!important}.gps-612089278184293229 .mobile\:gp-hidden{display:none}.gps-612089278184293229 .mobile\:gp-h-auto{height:auto}.gps-612089278184293229 .mobile\:gp-flex-none{flex:none}}.gps-612089278184293229 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inriaserif/v18/fC1lPYxPY3rXxEndZJAzN0Ss.ttf) format('truetype');
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}


@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inriasans/v15/ptRMTiqXYfZMCOiVj9kQ5O4.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inriasans/v15/ptRPTiqXYfZMCOiVj9kQ3FLdDQs.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:none;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(241, 240, 240)","type":"color"}},"uid":"i2lfc619b515d"}' data-id="i2lfc619b515d" id="i2lfc619b515d" data-same-height-subgrid-container class="i2lfc619b515d gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_ARTICLE;--mt:-5px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:30px;--pl-mobile:10px;--pb-mobile:30px;--pr-mobile:10px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:rgb(241, 240, 240);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-w-i2lfc619b515d gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"w-i2lfc619b515d"}' data-id="w-i2lfc619b515d" id="w-i2lfc619b515d" data-same-height-subgrid-container class="w-i2lfc619b515d gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_ARTICLE;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2l3a6d92945f gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g0n1ugk5BC"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--mb-mobile:0px;--pt-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1774365068211 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g0n1ugk5BC"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Heimwerker-Praxis_2.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUwIiBoZWlnaHQ9IjEzNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDUwLTEzNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDUwIiBoZWlnaHQ9IjEzNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDUwIiBoZWlnaHQ9IjEzNSIgZmlsbD0idXJsKCNnLTQ1MC0xMzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00NTAiIHRvPSI0NTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Heimwerker-Praxis_2.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUwIiBoZWlnaHQ9IjEzNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDUwLTEzNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDUwIiBoZWlnaHQ9IjEzNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDUwIiBoZWlnaHQ9IjEzNSIgZmlsbD0idXJsKCNnLTQ1MC0xMzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00NTAiIHRvPSI0NTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "Heimwerker-Praxis_2.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUwIiBoZWlnaHQ9IjEzNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDUwLTEzNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDUwIiBoZWlnaHQ9IjEzNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDUwIiBoZWlnaHQ9IjEzNSIgZmlsbD0idXJsKCNnLTQ1MC0xMzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00NTAiIHRvPSI0NTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "Heimwerker-Praxis_2.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:350px;--w-tablet:350px;--w-mobile:350px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"sp-i2le5fcc32ea4"}' data-id="sp-i2le5fcc32ea4" id="sp-i2le5fcc32ea4" data-same-height-subgrid-container class="sp-i2le5fcc32ea4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_ARTICLE;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2le5fcc32ea4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"sp-i2l213de00d3d"}' data-id="sp-i2l213de00d3d" id="sp-i2l213de00d3d" data-same-height-subgrid-container class="sp-i2l213de00d3d gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_ARTICLE;--mt:0px;--ml:auto;--mb:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2l213de00d3d gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="xUCvJEOOicuc"
        class="xUCvJEOOicuc"
        style="--ta:left;--pageType:GP_ARTICLE;--mt:var(--g-s-m);--ml:0px;--mb:8px;--mr:0px;--pt:6px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:var(--g-s-s);--ml-mobile:0px;--mb-mobile:8px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Inria-Serif, 'Inria Serif'), var(--g-font-heading, heading);--size:44px;--size-tablet:44px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--weight:bold;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gxUCvJEOOicuc_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="IJmxslJxnmTa"
        class="IJmxslJxnmTa"
        style="--ta:left;--pageType:GP_ARTICLE;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gIJmxslJxnmTa_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFrfuYOgX8"}' data-id="gFrfuYOgX8" id="gFrfuYOgX8" data-same-height-subgrid-container class="gFrfuYOgX8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:100px;--mt-mobile:50px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQ25_-_FMv gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#44A714","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gJOMcIhHFf"}' data-id="gJOMcIhHFf" id="gJOMcIhHFf" data-same-height-subgrid-container class="gJOMcIhHFf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bblr-tablet:20px;--bbrr-tablet:20px;--btlr-tablet:20px;--btrr-tablet:20px;--bblr-mobile:20px;--bbrr-mobile:20px;--btlr-mobile:20px;--btrr-mobile:20px;--mt:150px;--pt:40px;--pl:50px;--pb:40px;--pr:50px;--mt-mobile:130px;--pt-mobile:30px;--pl-mobile:10px;--pb-mobile:40px;--pr-mobile:10px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#44A714;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giAR6QshAh gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gvzdHH5bXj"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--pos:relative;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-300px;--mb:0px;--pt:0px;--pb:0px;--mt-mobile:-230px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--z:5;--ta:center"
      class="gp-group/image gp-relative force-publish-1774365068220 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gvzdHH5bXj"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_502062138542523360-8e0c48b3-b344-47f7-9354-f47670f60d75.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTQ1LTk0NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0idXJsKCNnLTk0NS05NDUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NDUiIHRvPSI5NDUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_502062138542523360-8e0c48b3-b344-47f7-9354-f47670f60d75.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTQ1LTk0NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0idXJsKCNnLTk0NS05NDUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NDUiIHRvPSI5NDUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_502062138542523360-8e0c48b3-b344-47f7-9354-f47670f60d75.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTQ1LTk0NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTQ1IiBoZWlnaHQ9Ijk0NSIgZmlsbD0idXJsKCNnLTk0NS05NDUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NDUiIHRvPSI5NDUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_502062138542523360-8e0c48b3-b344-47f7-9354-f47670f60d75.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:400px;--w-tablet:400px;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVb7KEvs6Y"
        class="gVb7KEvs6Y"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inria-Sans, 'Inria Sans'), var(--g-font-body, body);--weight:400;--size:22px;--size-tablet:18px;--size-mobile:17px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--c:#efefef;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVb7KEvs6Y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-612089278184293229 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c39dbb-40/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=612089278083629933&sectionId=612089278184293229)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gxUCvJEOOicuc_text","label":"gxUCvJEOOicuc_text","default":"Gärtner und Heimwerker verblüfft: Dieser unzerstörbare Rasentrimmer sorgt bei jedem Einsatz für perfekte Ergebnisse"},{"type":"html","id":"gIJmxslJxnmTa_text","label":"gIJmxslJxnmTa_text","default":"<p><strong>Von Sabine Hoffmann | Advertorial | Veröffentlicht vor 2 Tagen</strong></p>"},{"type":"html","id":"ggVb7KEvs6Y_text","label":"ggVb7KEvs6Y_text","default":"<p><strong>ProfiTrim – Der unzerstörbare Rasentrimmer für perfekte Ergebnisse begeistert derzeit Gartenliebhaber in ganz Europa. Mit beeindruckender Schneidkraft, extremer Langlebigkeit und kabellosem Komfort beseitigt ProfiTrim mühelos hohes Gras, widerspenstiges Unkraut und unordentliche Rasenkanten – ganz ohne Kabelsalat, Abgase oder Frust. Dieses revolutionäre Gerät verändert die Rasenpflege grundlegend – effizient, einfach und leistungsstark.</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}