

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558420237406897054.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558420237406897054.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558420237406897054.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558420237406897054.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558420237406897054.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558420237406897054.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558420237406897054.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558420237406897054.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558420237406897054.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558420237406897054.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-558420237406897054.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558420237406897054.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558420237406897054.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558420237406897054.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558420237406897054.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558420237406897054.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558420237406897054.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558420237406897054.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558420237406897054.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558420237406897054.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558420237406897054.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558420237406897054.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558420237406897054.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558420237406897054.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558420237406897054.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558420237406897054.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558420237406897054.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558420237406897054.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-558420237406897054.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558420237406897054.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558420237406897054.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-558420237406897054.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-558420237406897054.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558420237406897054.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558420237406897054.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-558420237406897054 .gp-relative{position:relative}.gps-558420237406897054 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558420237406897054 .gp-mb-0{margin-bottom:0}.gps-558420237406897054 .gp-flex{display:flex}.gps-558420237406897054 .gp-grid{display:grid}.gps-558420237406897054 .\!gp-hidden{display:none!important}.gps-558420237406897054 .gp-hidden{display:none}.gps-558420237406897054 .gp-max-w-full{max-width:100%}.gps-558420237406897054 .gp-flex-col{flex-direction:column}.gps-558420237406897054 .gp-gap-y-0{row-gap:0}.gps-558420237406897054 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558420237406897054 .gp-duration-200{transition-duration:.2s}.gps-558420237406897054 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-558420237406897054 .tablet\:\!gp-hidden{display:none!important}.gps-558420237406897054 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-558420237406897054 .mobile\:\!gp-hidden{display:none!important}.gps-558420237406897054 .mobile\:gp-hidden{display:none}}.gps-558420237406897054 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gWGrLPjj_T" data-id="gWGrLPjj_T"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWGrLPjj_T gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gH4mjvPYIh gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g7xqXRO0X_" data-id="g7xqXRO0X_"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7xqXRO0X_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggLl4-u6I5 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gBNd2h4Ksu ">
      
    <script defer strategy="lazyOnload" src="//loox.io/widget/loox.js?shop={{ request.host }}"></script>
    <div
      
      style="--ta:center"
    >
      {% if 'reviews_widget' == "rating_widget"  %}
        {% if 'false' == 'true' %}
          {% if shop.metafields.loox["global_stats"]  %}
            {% assign looxstats = shop.metafields.loox["global_stats"] | split: ',' %} 
            <a href="#looxReviews">
              <div class="loox-rating" data-rating="{{ looxstats[0] }}" data-raters="{{ looxstats[1] }}"></div>
            </a>
          {% endif %}
        {% else %}
          <a href="#looxReviews">
            <div id="looxReviews" data-product-id="{{ product.id }}"></div>
          </a>
        {% endif %}
      {% else %}
        <div id="looxReviews" data-product-id="{{ product.id }}"></div>
      {% endif %}
    </div>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-558420237406897054 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c39dbb-40/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=558420237305775006&sectionId=558420237406897054)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"de":{}}
  }
{% endschema %}
