

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557449771980162226.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-557449771980162226.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557449771980162226.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-557449771980162226.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557449771980162226.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557449771980162226.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557449771980162226.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557449771980162226.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557449771980162226.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557449771980162226.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557449771980162226.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-557449771980162226.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557449771980162226.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557449771980162226.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557449771980162226.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557449771980162226.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557449771980162226.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557449771980162226.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557449771980162226.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557449771980162226.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557449771980162226.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557449771980162226.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557449771980162226.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557449771980162226.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557449771980162226.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557449771980162226.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557449771980162226.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-557449771980162226.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557449771980162226.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-557449771980162226.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557449771980162226.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-557449771980162226.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557449771980162226.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557449771980162226.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557449771980162226.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557449771980162226.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-557449771980162226.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-557449771980162226.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-557449771980162226.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-557449771980162226.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-557449771980162226.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557449771980162226.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557449771980162226.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557449771980162226.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557449771980162226.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557449771980162226.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557449771980162226.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557449771980162226.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557449771980162226.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-557449771980162226.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-557449771980162226.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557449771980162226.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-557449771980162226.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-557449771980162226.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557449771980162226.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557449771980162226.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-557449771980162226.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-557449771980162226.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557449771980162226.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-557449771980162226.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557449771980162226.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-557449771980162226.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557449771980162226.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557449771980162226.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557449771980162226.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-557449771980162226.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-557449771980162226.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-557449771980162226.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-557449771980162226.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-557449771980162226.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557449771980162226.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557449771980162226.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-557449771980162226.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-557449771980162226.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557449771980162226.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-557449771980162226.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-557449771980162226.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-557449771980162226.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-557449771980162226.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557449771980162226.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557449771980162226.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557449771980162226.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-557449771980162226.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-557449771980162226.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-557449771980162226.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-557449771980162226 .gp-relative{position:relative}.gps-557449771980162226 .gp-z-1{z-index:1}.gps-557449771980162226 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557449771980162226 .gp-mb-0{margin-bottom:0}.gps-557449771980162226 .gp-flex{display:flex}.gps-557449771980162226 .gp-inline-flex{display:inline-flex}.gps-557449771980162226 .gp-grid{display:grid}.gps-557449771980162226 .gp-contents{display:contents}.gps-557449771980162226 .\!gp-hidden{display:none!important}.gps-557449771980162226 .gp-hidden{display:none}.gps-557449771980162226 .gp-h-full{height:100%}.gps-557449771980162226 .gp-w-full{width:100%}.gps-557449771980162226 .gp-max-w-full{max-width:100%}.gps-557449771980162226 .gp-flex-col{flex-direction:column}.gps-557449771980162226 .gp-items-center{align-items:center}.gps-557449771980162226 .gp-justify-center{justify-content:center}.gps-557449771980162226 .gp-gap-y-0{row-gap:0}.gps-557449771980162226 .gp-overflow-hidden{overflow:hidden}.gps-557449771980162226 .gp-break-words{overflow-wrap:break-word}.gps-557449771980162226 .gp-rounded-none{border-radius:0}.gps-557449771980162226 .gp-text-center{text-align:center}.gps-557449771980162226 .gp-leading-\[0\]{line-height:0}.gps-557449771980162226 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-557449771980162226 .gp-no-underline{text-decoration-line:none}.gps-557449771980162226 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557449771980162226 .gp-duration-200{transition-duration:.2s}.gps-557449771980162226 .gp-duration-300{transition-duration:.3s}.gps-557449771980162226 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557449771980162226 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-557449771980162226 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-557449771980162226 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-557449771980162226 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-557449771980162226 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-557449771980162226 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-557449771980162226 .tablet\:\!gp-hidden{display:none!important}.gps-557449771980162226 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557449771980162226 .mobile\:\!gp-hidden{display:none!important}.gps-557449771980162226 .mobile\:gp-hidden{display:none}}.gps-557449771980162226 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-557449771980162226 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-557449771980162226 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-557449771980162226 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-557449771980162226 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557449771980162226 .\[\&_p\]\:gp-inline p{display:inline}.gps-557449771980162226 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-557449771980162226 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-557449771980162226 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gVdJ3jErYv" data-id="gVdJ3jErYv"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:50px;--pb:50px;--pt-mobile:20px;--pb-mobile:56px;--pt-tablet:56px;--pb-tablet:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F8F8F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVdJ3jErYv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gB5XurR5zz gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gCttVBL2sC" data-id="gCttVBL2sC"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCttVBL2sC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaLM-lbAyU gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g7PHXOibhu" data-id="g7PHXOibhu"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7PHXOibhu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZTBH2DILs gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gKYIuKvIKT" data-id="gKYIuKvIKT"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:58px;--mb-mobile:0px;--pt-mobile:33px;--mb-tablet:0px;--pt-tablet:98px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKYIuKvIKT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:end"
      class="gaVT6vw7hF gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:end"
      class="gic-gebkrW gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gqXUZQLdI1" data-id="gqXUZQLdI1"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:10px;--btrr:10px;--mb:0px;--mb-mobile:0px;--pl-mobile:3px;--pr-mobile:3px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F2FFF2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqXUZQLdI1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcD5i9IS-v gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g4x9kchE3k"
    role="presentation"
    class="gp-group/image g4x9kchE3k"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:50%;--op:100%;--pos:absolute;--right:undefined;--mt:-30px;--ml:auto;--mb:0px;--mr:auto;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--top:-58px;--top-mobile:-33px;--top-tablet:-99px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_502062138542523360-0cd418c6-8be4-4aff-80b2-ca375bbcb6b5_768x.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_502062138542523360-0cd418c6-8be4-4aff-80b2-ca375bbcb6b5_1024x.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_502062138542523360-0cd418c6-8be4-4aff-80b2-ca375bbcb6b5.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w-tablet:Auto;--w-mobile:180px;--h:150px;--h-tablet:176px;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-g4x9kchE3k">
        .g4x9kchE3k {
    transform: translateX(-50%);
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="goMmGeiyfw">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="goMmGeiyfw "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:83px;--pb:16px;--mb-mobile:0px;--pt-mobile:45px;--pb-mobile:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0.5px;--size:18px;--size-tablet:14px;--size-mobile:15px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-section-557449771980162226.ggoMmGeiyfw_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:end"
      class="gDYOL8KILt gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gos5C_Hci0"
    role="presentation"
    class="gp-group/image gos5C_Hci0"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_502062138542523360-aabd8301-85bb-4ed6-9d73-3dea564d91ea_768x.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_502062138542523360-aabd8301-85bb-4ed6-9d73-3dea564d91ea_1024x.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_502062138542523360-aabd8301-85bb-4ed6-9d73-3dea564d91ea.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:42px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gIG5Kl3Ph_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gIG5Kl3Ph_ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:14px;--pb:16px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:3px;--pb-mobile:16px;--pr-mobile:3px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:600;--ls:0.5px;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-section-557449771980162226.ggIG5Kl3Ph__text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
      <style id="custom-css-gKYIuKvIKT">
        .gKYIuKvIKT {
    --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gpvKpAUdiv" data-id="gpvKpAUdiv"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:10px;--btrr:10px;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpvKpAUdiv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gh5O1DKAfA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gidvV4SE9p">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gidvV4SE9p "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-section-557449771980162226.ggidvV4SE9p_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gB2DFFLeeo gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gviK-_ASOJ" data-id="gviK-_ASOJ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F2FFF2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gviK-_ASOJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyqhaO2664 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] ggbZIS_OaK"
    >
      <div 
      data-id="ggbZIS_OaK"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#689f05;--t:rotate(0deg);--w:28px;--h:28px;--minw:28px;--height-desktop:28px;--height-tablet:28px;--height-mobile:28px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-ggbZIS_OaK">
        .ggbZIS_OaK .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gviK-_ASOJ">
        .gviK-_ASOJ {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHn2QB6fGY gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gJx2Upb7JO"
    >
      <div 
      data-id="gJx2Upb7JO"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24px" height="25px" viewBox="0 0 24 25" fill="none" preserveAspectRatio="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gJx2Upb7JO">
        .gJx2Upb7JO .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gpvKpAUdiv">
        .gpvKpAUdiv {
      --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="grQZ3ZqYsb" data-id="grQZ3ZqYsb"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#f8f8f8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grQZ3ZqYsb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gm9ZIc0vj8 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdA2iS_bG8">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdA2iS_bG8 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-section-557449771980162226.ggdA2iS_bG8_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWeZfjEQIu gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gMzhCereRd" data-id="gMzhCereRd"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F2FFF2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMzhCereRd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6WOW5qYh3 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] gEknWIZ_Gz"
    >
      <div 
      data-id="gEknWIZ_Gz"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#689f05;--t:rotate(0deg);--w:28px;--h:28px;--minw:28px;--height-desktop:28px;--height-tablet:28px;--height-mobile:28px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gEknWIZ_Gz">
        .gEknWIZ_Gz .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gMzhCereRd">
        .gMzhCereRd {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gthlpqKB4x gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gjN-Te24kn"
    >
      <div 
      data-id="gjN-Te24kn"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gjN-Te24kn">
        .gjN-Te24kn .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-grQZ3ZqYsb">
        .grQZ3ZqYsb {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gK_sC2O3hk" data-id="gK_sC2O3hk"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gK_sC2O3hk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjGGm2uM5t gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyTt94CAx_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gyTt94CAx_ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-section-557449771980162226.ggyTt94CAx__text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gBH889WK53 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gd_JPWw3HC" data-id="gd_JPWw3HC"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F2FFF2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gd_JPWw3HC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ9Ky8diSL gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] gShhXyXdTd"
    >
      <div 
      data-id="gShhXyXdTd"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#689f05;--t:rotate(0deg);--w:28px;--h:28px;--minw:28px;--height-desktop:28px;--height-tablet:28px;--height-mobile:28px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gShhXyXdTd">
        .gShhXyXdTd .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gd_JPWw3HC">
        .gd_JPWw3HC {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gMSSeS_bGC gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gqlrrBEcJH"
    >
      <div 
      data-id="gqlrrBEcJH"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gqlrrBEcJH">
        .gqlrrBEcJH .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gK_sC2O3hk">
        .gK_sC2O3hk {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gV4nwuz2MY" data-id="gV4nwuz2MY"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#f8f8f8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gV4nwuz2MY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gNoKMfM8g5 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLiNZmMZHB">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gLiNZmMZHB "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-section-557449771980162226.ggLiNZmMZHB_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZZnt_X5Pw gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g_-Yeizq-r" data-id="g_-Yeizq-r"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F2FFF2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_-Yeizq-r gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkzpeDTcpC gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] gv82l2A2Ws"
    >
      <div 
      data-id="gv82l2A2Ws"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#689f05;--t:rotate(0deg);--w:28px;--h:28px;--minw:28px;--height-desktop:28px;--height-tablet:28px;--height-mobile:28px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gv82l2A2Ws">
        .gv82l2A2Ws .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-g_-Yeizq-r">
        .g_-Yeizq-r {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6sZVhOQ8S gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gP3-g5mrYj"
    >
      <div 
      data-id="gP3-g5mrYj"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gP3-g5mrYj">
        .gP3-g5mrYj .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gV4nwuz2MY">
        .gV4nwuz2MY {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gyg9UvZMzg" data-id="gyg9UvZMzg"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyg9UvZMzg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gAf6Sj26Y0 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2o_CvQ6xq">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g2o_CvQ6xq "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-section-557449771980162226.gg2o_CvQ6xq_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtHB6AfvYE gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gRmAH0KQMt" data-id="gRmAH0KQMt"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F2FFF2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRmAH0KQMt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gewNNhfNds gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] g2_dw-PnsW"
    >
      <div 
      data-id="g2_dw-PnsW"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#689f05;--t:rotate(0deg);--w:28px;--h:28px;--minw:28px;--height-desktop:28px;--height-tablet:28px;--height-mobile:28px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-g2_dw-PnsW">
        .g2_dw-PnsW .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gRmAH0KQMt">
        .gRmAH0KQMt {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gK4kog9hoE gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gghngorBcO"
    >
      <div 
      data-id="gghngorBcO"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gghngorBcO">
        .gghngorBcO .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gyg9UvZMzg">
        .gyg9UvZMzg {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="grHdZ8LlBH" data-id="grHdZ8LlBH"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#f8f8f8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grHdZ8LlBH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwe9wCE5c6 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gfoSRR_Vn8">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gfoSRR_Vn8 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-section-557449771980162226.ggfoSRR_Vn8_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gVnELAG11O gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gBpth7-zTs" data-id="gBpth7-zTs"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F2FFF2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBpth7-zTs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnzEH7D2Ht gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] gM2PRslnCl"
    >
      <div 
      data-id="gM2PRslnCl"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#689f05;--t:rotate(0deg);--w:28px;--h:28px;--minw:28px;--height-desktop:28px;--height-tablet:28px;--height-mobile:28px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gM2PRslnCl">
        .gM2PRslnCl .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gBpth7-zTs">
        .gBpth7-zTs {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g7JqkDV349 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] geMBsVPSOi"
    >
      <div 
      data-id="geMBsVPSOi"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-geMBsVPSOi">
        .geMBsVPSOi .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-grHdZ8LlBH">
        .grHdZ8LlBH {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="glcRfiE_-J" data-id="glcRfiE_-J"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:48px;--mb-mobile:0px;--pt-mobile:42px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pt-tablet:42px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:462px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glcRfiE_-J gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXC2AsqOH- gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
    
  >
    <style>
    .gmSMUkW8RS.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .gmSMUkW8RS:hover::before {
      
      
    }

    .gmSMUkW8RS:hover .gp-button-icon {
      color: undefined;
    }

     .gmSMUkW8RS .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gmSMUkW8RS:hover .gp-button-price {
      color: undefined;
    }

    .gmSMUkW8RS .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gmSMUkW8RS .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gmSMUkW8RS:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#gJlyaZ3V6T" target="_self" data-id="gmSMUkW8RS" aria-label="<p>Holen Sie sich Ihre jetzt!&nbsp;</p>"
      
      data-state="idle"
      class="gmSMUkW8RS gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#6db643;--bg:#6db643;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--size:18px;--size-tablet:14px;--size-mobile:14px;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:600;--ls:0.5px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:18px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ "sections.gp-section-557449771980162226.ggmSMUkW8RS_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="goPofTmv53">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="goPofTmv53 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:8px;--mb:0px;--pt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgba(18, 18, 18, 0.77);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-section-557449771980162226.ggoPofTmv53_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYAZ9hjg.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-557449771980162226 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c39dbb-40/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=557449771762058418&sectionId=557449771980162226)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"de":{"ggoMmGeiyfw_text_html":"<p>ProfiTrim</p>","ggIG5Kl3Ph__text_html":"<p>Andere Marke</p>","ggidvV4SE9p_text_html":"<p>Starke Schnittleistung</p>","ggdA2iS_bG8_text_html":"<p>Unerreichte Langlebigkeit</p>","ggyTt94CAx__text_html":"<p>Präzision und Effizienz</p>","ggLiNZmMZHB_text_html":"<p>Einfache &amp; komfortable Handhabung</p>","gg2o_CvQ6xq_text_html":"<p>Vielseitig einsetzbar</p>","ggfoSRR_Vn8_text_html":"<p>30 Tage Geld-zurück-Garantie</p>","ggmSMUkW8RS_label_html":"<p>Holen Sie sich Ihre jetzt!&nbsp;</p>","ggoPofTmv53_text_html":"<p>*100% Zufriedenheit. 30 Tage Geld-zurück-Garantie</p>"}}
  }
{% endschema %}
