

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-510649774991475514.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-510649774991475514.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-510649774991475514.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-510649774991475514.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-510649774991475514.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-510649774991475514.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-510649774991475514.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-510649774991475514.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-510649774991475514.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-510649774991475514.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-510649774991475514.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-510649774991475514.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-510649774991475514.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-510649774991475514.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-510649774991475514.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-510649774991475514.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-510649774991475514.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-510649774991475514.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-510649774991475514.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-510649774991475514.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-510649774991475514.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-510649774991475514.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-510649774991475514.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-510649774991475514.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-510649774991475514.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-510649774991475514.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-510649774991475514.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-510649774991475514.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-510649774991475514.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-510649774991475514.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-510649774991475514.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-510649774991475514.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-510649774991475514.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-510649774991475514.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-510649774991475514.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-510649774991475514.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-510649774991475514.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-510649774991475514.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-510649774991475514.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-510649774991475514.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-510649774991475514.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-510649774991475514.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-510649774991475514.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-510649774991475514.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-510649774991475514.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-510649774991475514.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-510649774991475514.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-510649774991475514.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-510649774991475514.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-510649774991475514.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-510649774991475514.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-510649774991475514.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-510649774991475514.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-510649774991475514.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-510649774991475514.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-510649774991475514.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-510649774991475514.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-510649774991475514.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-510649774991475514.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-510649774991475514 .gp-relative{position:relative}.gps-510649774991475514 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-510649774991475514 .gp-mb-0{margin-bottom:0}.gps-510649774991475514 .\!gp-inline{display:inline!important}.gps-510649774991475514 .gp-flex{display:flex}.gps-510649774991475514 .gp-grid{display:grid}.gps-510649774991475514 .\!gp-hidden{display:none!important}.gps-510649774991475514 .gp-hidden{display:none}.gps-510649774991475514 .gp-h-full{height:100%}.gps-510649774991475514 .gp-w-full{width:100%}.gps-510649774991475514 .gp-max-w-full{max-width:100%}.gps-510649774991475514 .gp-flex-col{flex-direction:column}.gps-510649774991475514 .gp-gap-y-0{row-gap:0}.gps-510649774991475514 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510649774991475514 .gp-duration-200{transition-duration:.2s}.gps-510649774991475514 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-510649774991475514 .tablet\:\!gp-hidden{display:none!important}.gps-510649774991475514 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-510649774991475514 .mobile\:\!gp-hidden{display:none!important}.gps-510649774991475514 .mobile\:gp-hidden{display:none}}.gps-510649774991475514 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-510649774991475514 .\[\&_p\]\:gp-inline p{display:inline}.gps-510649774991475514 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-510649774991475514 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gc1wkBD76Z" data-id="gc1wkBD76Z"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F3F3F3;--bgi:url(https://cdn.shopify.com/s/files/1/0668/6172/8052/files/502062612230439904-2f97699c-4616-4336-ab79-b6875690a9d1.png);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gc1wkBD76Z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAhUvRq0vf gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gcESTEApaq" data-id="gcESTEApaq"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcESTEApaq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTVj478uGw gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gL8fbXVlMQ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gL8fbXVlMQ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--size:40px;--size-tablet:46px;--size-mobile:32px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggL8fbXVlMQ_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gaW-_6syuI" data-id="gaW-_6syuI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:32px;--pb:0px;--pr:32px;--cg:32px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaW-_6syuI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:space-between"
      class="gIQaPypnHk gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gCmRuNKa0t" data-id="gCmRuNKa0t"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCmRuNKa0t gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZXQBhF-YX gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gFvwTrzWv_"
    role="presentation"
    class="gp-group/image gFvwTrzWv_"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:12px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_502062138542523360-15a66d66-36d4-4ece-8d49-540b4930ce9c.png" | file_url }}" data-srcset="{{ 'gempages_502062138542523360-15a66d66-36d4-4ece-8d49-540b4930ce9c.png' | file_img_url: '768x' }} 768w, {{ 'gempages_502062138542523360-15a66d66-36d4-4ece-8d49-540b4930ce9c.png' | file_img_url: '1024x' }} 1024w, {{ 'gempages_502062138542523360-15a66d66-36d4-4ece-8d49-540b4930ce9c.png' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1000" height="1000" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1000/1000;--aspect-tablet:1000/1000;--aspect-mobile:1000/1000;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmN7XAlIEH">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gmN7XAlIEH "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--size:22px;--size-tablet:25px;--size-mobile:17px;--weight:bold;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggmN7XAlIEH_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gS0WGNY5AK">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gS0WGNY5AK "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:15px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggS0WGNY5AK_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:space-between"
      class="gaijUrHZdP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gG31SNgN58" data-id="gG31SNgN58"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gG31SNgN58 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAcmF0mux5 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gNP2btc7Gc"
    role="presentation"
    class="gp-group/image gNP2btc7Gc"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:12px;--pb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_502062138542523360-f8df303a-2164-4bc7-b64d-672d289c11f8.png" | file_url }}" data-srcset="{{ 'gempages_502062138542523360-f8df303a-2164-4bc7-b64d-672d289c11f8.png' | file_img_url: '768x' }} 768w, {{ 'gempages_502062138542523360-f8df303a-2164-4bc7-b64d-672d289c11f8.png' | file_img_url: '1024x' }} 1024w, {{ 'gempages_502062138542523360-f8df303a-2164-4bc7-b64d-672d289c11f8.png' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1000" height="1000" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1000/1000;--aspect-tablet:1000/1000;--aspect-mobile:1000/1000;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5a6ESxVui">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g5a6ESxVui "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--size:22px;--size-tablet:25px;--size-mobile:17px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.gg5a6ESxVui_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gs2Ofzq1lm">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gs2Ofzq1lm "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:15px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggs2Ofzq1lm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:space-between"
      class="g7N1jP0oSu gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g2WlyV0wGS" data-id="g2WlyV0wGS"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2WlyV0wGS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gx2DUH3Jyn gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gb2JFq_kyT"
    role="presentation"
    class="gp-group/image gb2JFq_kyT"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:12px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_502062138542523360-3f7d7ec9-cdd6-4bc1-b31f-c603818a5e48.png" | file_url }}" data-srcset="{{ 'gempages_502062138542523360-3f7d7ec9-cdd6-4bc1-b31f-c603818a5e48.png' | file_img_url: '768x' }} 768w, {{ 'gempages_502062138542523360-3f7d7ec9-cdd6-4bc1-b31f-c603818a5e48.png' | file_img_url: '1024x' }} 1024w, {{ 'gempages_502062138542523360-3f7d7ec9-cdd6-4bc1-b31f-c603818a5e48.png' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1000" height="1000" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1000/1000;--aspect-tablet:1000/1000;--aspect-mobile:1000/1000;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gA4cwgZcg7">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gA4cwgZcg7 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--size:22px;--size-tablet:25px;--size-mobile:17px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggA4cwgZcg7_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gBG6CAsq2O">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gBG6CAsq2O "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:15px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggBG6CAsq2O_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:space-between"
      class="gKr9c-KvBI gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gNrzLSMPPf" data-id="gNrzLSMPPf"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNrzLSMPPf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_y1XHDIZ7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gudoG71iMc"
    role="presentation"
    class="gp-group/image gudoG71iMc"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:12px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "502062138542523360-2fca9efd-4424-4fea-b99c-2e3b956fc344.png" | file_url }}" data-srcset="{{ '502062138542523360-2fca9efd-4424-4fea-b99c-2e3b956fc344.png' | file_img_url: '768x' }} 768w, {{ '502062138542523360-2fca9efd-4424-4fea-b99c-2e3b956fc344.png' | file_img_url: '1024x' }} 1024w, {{ '502062138542523360-2fca9efd-4424-4fea-b99c-2e3b956fc344.png' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1000" height="1000" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1000/1000;--aspect-tablet:1000/1000;--aspect-mobile:1000/1000;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggEi-B0Lsr">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ggEi-B0Lsr "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--size:22px;--size-tablet:25px;--size-mobile:17px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.gggEi-B0Lsr_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNdfRtfE2Z">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNdfRtfE2Z "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:15px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggNdfRtfE2Z_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQttRnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-510649774991475514 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c39dbb-40/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=510649774857257786&sectionId=510649774991475514)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggL8fbXVlMQ_text","label":"ggL8fbXVlMQ_text","default":"Die Vorteile unserer&nbsp;<br>Produkte."},{"type":"html","id":"ggmN7XAlIEH_text","label":"ggmN7XAlIEH_text","default":"Mühelose Präzision"},{"type":"html","id":"ggS0WGNY5AK_text","label":"ggS0WGNY5AK_text","default":"<p>Unsere Trimmer sorgen für eine makellose Gartenpflege mit minimalem Aufwand, dank modernster Technologie.</p>"},{"type":"html","id":"gg5a6ESxVui_text","label":"gg5a6ESxVui_text","default":"Leistungsstarke Reinigung"},{"type":"html","id":"ggs2Ofzq1lm_text","label":"ggs2Ofzq1lm_text","default":"<p>Verabschieden Sie sich von hartnäckigem Schmutz mit unserem Hochdruckreiniger, der den Schmutz schnell entfernt und für einen strahlenden Außenbereich sorgt.</p>"},{"type":"html","id":"ggA4cwgZcg7_text","label":"ggA4cwgZcg7_text","default":"Langlebigkeit und Komfort"},{"type":"html","id":"ggBG6CAsq2O_text","label":"ggBG6CAsq2O_text","default":"<p>Unsere stilvollen und dennoch robusten Gartenschuhe bieten dauerhaften Komfort und Halt bei stundenlanger Gartenarbeit.</p>"},{"type":"html","id":"gggEi-B0Lsr_text","label":"gggEi-B0Lsr_text","default":"Umweltverträgliche Innovation"},{"type":"html","id":"ggNdfRtfE2Z_text","label":"ggNdfRtfE2Z_text","default":"<p>Jedes dekorative Stück nutzt Solarenergie, fördert die ökologische Nachhaltigkeit und verschönert gleichzeitig Ihren Garten.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
