

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-510649774974698298.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-510649774974698298.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-510649774974698298.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-510649774974698298.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-510649774974698298.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-510649774974698298.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-510649774974698298.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-510649774974698298.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-510649774974698298.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-510649774974698298.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-510649774974698298.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-510649774974698298.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-510649774974698298.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-510649774974698298.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-510649774974698298.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-510649774974698298.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-510649774974698298.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-510649774974698298.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-510649774974698298.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-510649774974698298.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-510649774974698298.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-510649774974698298.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-510649774974698298.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-510649774974698298.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-510649774974698298.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-510649774974698298.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-510649774974698298.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-510649774974698298.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-510649774974698298.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-510649774974698298.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-510649774974698298.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-510649774974698298.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-510649774974698298.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-510649774974698298.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-510649774974698298.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-510649774974698298.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-510649774974698298.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-510649774974698298.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-510649774974698298.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-510649774974698298.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-510649774974698298.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-510649774974698298.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-510649774974698298.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-510649774974698298.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-510649774974698298.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-510649774974698298.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-510649774974698298.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-510649774974698298.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-510649774974698298.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-510649774974698298.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-510649774974698298.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-510649774974698298.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-510649774974698298.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-510649774974698298.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-510649774974698298.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-510649774974698298.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-510649774974698298.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-510649774974698298.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-510649774974698298.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-510649774974698298.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-510649774974698298 .gp-relative{position:relative}.gps-510649774974698298 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-510649774974698298 .gp-mb-0{margin-bottom:0}.gps-510649774974698298 .gp-flex{display:flex}.gps-510649774974698298 .gp-inline-flex{display:inline-flex}.gps-510649774974698298 .gp-grid{display:grid}.gps-510649774974698298 .\!gp-hidden{display:none!important}.gps-510649774974698298 .gp-hidden{display:none}.gps-510649774974698298 .gp-max-w-full{max-width:100%}.gps-510649774974698298 .gp-flex-col{flex-direction:column}.gps-510649774974698298 .gp-items-center{align-items:center}.gps-510649774974698298 .gp-justify-center{justify-content:center}.gps-510649774974698298 .gp-gap-y-0{row-gap:0}.gps-510649774974698298 .gp-overflow-hidden{overflow:hidden}.gps-510649774974698298 .gp-leading-\[0\]{line-height:0}.gps-510649774974698298 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510649774974698298 .gp-duration-200{transition-duration:.2s}.gps-510649774974698298 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-510649774974698298 .tablet\:\!gp-hidden{display:none!important}.gps-510649774974698298 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-510649774974698298 .mobile\:\!gp-hidden{display:none!important}.gps-510649774974698298 .mobile\:gp-hidden{display:none}}.gps-510649774974698298 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-510649774974698298 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-510649774974698298 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-510649774974698298 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-510649774974698298 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-510649774974698298 .\[\&_p\]\:gp-inline p{display:inline}.gps-510649774974698298 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-510649774974698298 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gvpPY7s5q4" data-id="gvpPY7s5q4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--pt:25px;--pl:0px;--pb:16px;--pr:0px;--ml-mobile:auto;--pt-mobile:16px;--pl-mobile:32px;--pb-mobile:16px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#699E04;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvpPY7s5q4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSW4nTgg8V gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gcxUvlt9Rd" data-id="gcxUvlt9Rd"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcxUvlt9Rd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gam68uYIXJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gug3lofRd1" data-id="gug3lofRd1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mr:auto;--pl:98px;--pr:0px;--ml-mobile:auto;--mr-mobile:auto;--pl-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:1500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gug3lofRd1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNQojYB5Wa gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g3qyGPdidz" data-id="g3qyGPdidz"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt-mobile:16px;--cg:32px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 9fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3qyGPdidz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gQA1ta5YCa gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left;--ta-tablet:center;--ta-mobile:left"
      class="gp-leading-[0] gDNLR6V26k"
    >
      <div 
      data-id="gDNLR6V26k"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#ffffff;--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gzdmlBb_r- gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTA7kYLlQO">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gTA7kYLlQO "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:-24px;--ml-mobile:0px;--ml-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:19px;--size-tablet:16px;--size-mobile:16px;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggTA7kYLlQO_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfF-l6E0kJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g4YNTpxPTH" data-id="g4YNTpxPTH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt-mobile:16px;--cg:32px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 9fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4YNTpxPTH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gj1_uNzTf6 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left;--ta-tablet:center;--ta-mobile:left"
      class="gp-leading-[0] ghbRnj8BEB"
    >
      <div 
      data-id="ghbRnj8BEB"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#ffffff;--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817731478815080">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M174,47.75a254.19,254.19,0,0,0-41.45-38.3,8,8,0,0,0-9.18,0A254.19,254.19,0,0,0,82,47.75C54.51,79.32,40,112.6,40,144a88,88,0,0,0,176,0C216,112.6,201.49,79.32,174,47.75Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gROzxjVTfr gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gM9Dm9p301">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gM9Dm9p301 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:-24px;--ml-mobile:0px;--ml-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:19px;--size-tablet:16px;--size-mobile:16px;--weight:bold;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggM9Dm9p301_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g752qQrorr gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gYAmoaIpk0" data-id="gYAmoaIpk0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt-mobile:16px;--cg:32px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 9fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYAmoaIpk0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gYSTCNxD8R gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left;--ta-tablet:center;--ta-mobile:left"
      class="gp-leading-[0] g68U0ERHjQ"
    >
      <div 
      data-id="g68U0ERHjQ"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#ffffff;--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334324114686301">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M240,94c0,70-103.79,126.66-108.21,129a8,8,0,0,1-7.58,0C119.79,220.66,16,164,16,94A62.07,62.07,0,0,1,78,32c20.65,0,38.73,8.88,50,23.89C139.27,40.88,157.35,32,178,32A62.07,62.07,0,0,1,240,94Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="goAhB-dH1G gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ge804ufI1l">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ge804ufI1l "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:-24px;--ml-mobile:0px;--ml-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:19px;--size-tablet:16px;--size-mobile:16px;--weight:bold;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.gge804ufI1l_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gesONKXBkV gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gezKx44yUT" data-id="gezKx44yUT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt-mobile:16px;--cg:32px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 9fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gezKx44yUT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="ge7TyZ3fec gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left;--ta-tablet:center;--ta-mobile:left"
      class="gp-leading-[0] gGHozVyw_M"
    >
      <div 
      data-id="gGHozVyw_M"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#ffffff;--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334324562624861">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M247.43,117l-14-35A15.93,15.93,0,0,0,218.58,72H184V64a8,8,0,0,0-8-8H24A16,16,0,0,0,8,72V184a16,16,0,0,0,16,16H41a32,32,0,0,0,62,0h50a32,32,0,0,0,62,0h17a16,16,0,0,0,16-16V120A8.13,8.13,0,0,0,247.43,117ZM72,208a16,16,0,1,1,16-16A16,16,0,0,1,72,208ZM24,136V72H168v64Zm160,72a16,16,0,1,1,16-16A16,16,0,0,1,184,208Zm0-96V88h34.58l9.6,24Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gK5I45CMUh gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwTpG3VI-0">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gwTpG3VI-0 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--ml:-24px;--pl:0px;--ml-mobile:-16px;--pl-mobile:0px;--ml-tablet:0px;--pl-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:19px;--size-tablet:16px;--size-mobile:16px;--weight:bold;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggwTpG3VI-0_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSQsuJ1rh2">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gSQsuJ1rh2 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:-32px;--pl:0px;--ml-mobile:-16px;--pl-mobile:0px;--ml-tablet:0px;--pl-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:19px;--size-tablet:16px;--size-mobile:16px;--weight:bold;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggSQsuJ1rh2_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gfDy7UTToX">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gfDy7UTToX "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--ml:-32px;--pl:0px;--ml-mobile:0px;--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:19px;--size-tablet:16px;--size-mobile:16px;--weight:bold;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggfDy7UTToX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-510649774974698298 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c39dbb-40/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=510649774857257786&sectionId=510649774974698298)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTA7kYLlQO_text","label":"ggTA7kYLlQO_text","default":"<p>100.000+ GLÜCKLICHE KUNDEN</p>"},{"type":"html","id":"ggM9Dm9p301_text","label":"ggM9Dm9p301_text","default":"<p>große&nbsp;</p><p>Neuerung</p>"},{"type":"html","id":"gge804ufI1l_text","label":"gge804ufI1l_text","default":"<p>Zufriedenheits garantie</p>"},{"type":"html","id":"ggwTpG3VI-0_text","label":"ggwTpG3VI-0_text","default":"<p>Schneller Versand</p>"},{"type":"html","id":"ggSQsuJ1rh2_text","label":"ggSQsuJ1rh2_text","default":"<p>Schneller&nbsp;</p><p>Versand</p>"},{"type":"html","id":"ggfDy7UTToX_text","label":"ggfDy7UTToX_text","default":"<p>Schneller</p><p>Versand</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
